<footer class=" border  bottom-0 w-full">
    <div class="f-info flex h-32 flex-wrap bg-slate-100 justify-center  text-center  py-2">
        <div class="f-info-socials align-middle
        flex justify-center w-full">
            <i class="fa-brands fa-square-facebook text-2xl mr-4"></i>
            <i class="fa-brands fa-square-instagram text-2xl mr-4"></i>
            <i class="fa-brands fa-linkedin text-2xl "></i>
        </div>
        <div class=" align-middle justify-center">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links w-full">
            <a href="/privacy" class=" hover:underline">Privacy</a>
            <a href="/terms" class=" hover:underline">Terms</a>
        </div>
    </div>
</footer>