<% layout("/layouts/boilerplate") %>

<div class="bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-96 broder border-2  border[#7c9885] ">
        <h2 class="text-2xl font-bold mb-4 flex items-center justify-center">SignUp on Wanderlust</h2>
        <form action="/signup" method="post" id="newSignup" novalidate  >
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-bold mb-2">Username</label>
                <input type="text" id="username" name="username" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" 
                placeholder="your name" required>
                <p id="username-error" class="text-red-500 text-xs mt-1 hidden">Plz Enter Username<i class="fa-solid fa-circle-exclamation"></i>.</p>
              <p id="username-success" class="text-green-500 text-xs hidden mt-1 ">Good Job <i class="fa-solid fa-circle-check"></i> </p>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold mb-2">Email Address</label>
                <input type="email" id="email" name="email" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Your Email Address" required>
                <p id="email-error" class="text-red-500 text-xs mt-1 hidden">plz Enter Email <i class="fa-solid fa-circle-exclamation"></i>.</p>
              <p id="email-success" class="text-green-500 text-xs hidden mt-1 ">Good Job <i class="fa-solid fa-circle-check"></i>  .</p>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-bold mb-2">Password</label>
                <input type="password" id="password" name="password" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Your Password" required>
                <p id="password-error" class="text-red-500 text-xs mt-1 hidden">Plz. Enter password <i class="fa-solid fa-circle-exclamation"></i>.</p>
              <p id="password-success" class="text-green-500 text-xs hidden mt-1 ">Good Job <i class="fa-solid fa-circle-check"></i>  .</p>
            </div>
            
            <button type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition duration-200">SignUp</button>
        </form>
        <h1 class=" pt-2"> <strong>Already have an account : </strong><a href="/login" class="  text-blue-600 ">Login</a> </h1>
    </div>
</div>

<script src="/js/signup.js"></script> 

